<h2 class="font-b mb-4 text-lg">Beers</h2>
@if (loading) {
  <app-loading-spinner></app-loading-spinner>
} @else if (error) {
  <app-error-message [message]="error"></app-error-message>
} @else {
  <div class="mb-4 flex items-center justify-between">
    <div>
      <span>TODO: Filters</span>
    </div>
    <div>
      <span>TODO: Search</span>
    </div>
    <div>
      <app-pagination
        [params]="beersParams"
        [paginationData]="getPaginationData()"
        size="md"></app-pagination>
    </div>
  </div>
  <div class="rounded-lg bg-neutral p-6 text-neutral-content shadow-md">
    <div class="overflow-x-auto">
      <table class="table table-xs lg:table-lg xl:table-xs 2xl:table-sm">
        <thead>
          <tr class="2xl:text-lg">
            <th>Name</th>
            <th>Brewery</th>
            <th>Style</th>
            <th>ABV</th>
            <th>BLG</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          @if (beers && beers.TotalCount > 0) {
            @for (beer of beers.items; track beer.id) {
              <tr>
                <td>
                  <div class="my-4 flex items-center gap-3">
                    <div class="avatar">
                      <div class="mask mask-squircle h-12 w-12 sm:h-32 sm:w-32">
                        <a class="link font-bold">
                          <img src="{{ beer.imageUri }}" alt="Beer image" />
                        </a>
                      </div>
                    </div>
                    <a class="link-hover link ml-4 font-bold">{{
                      beer.name
                    }}</a>
                  </div>
                </td>
                <td>
                  <a class="link-hover link font-bold">{{
                    beer.brewery.name
                  }}</a>
                </td>
                <td>
                  <div>
                    {{ beer.beerStyle.name }}
                  </div>
                </td>
                <td>
                  <div>{{ beer.alcoholByVolume }}%</div>
                </td>
                <td>
                  <div>
                    {{ beer.blg }}
                  </div>
                </td>
                <td>
                  <div>{{ beer.rating }}</div>
                </td>
              </tr>
            }
          }
        </tbody>
      </table>
    </div>
  </div>
  <div class="my-4">
    <app-pagination
      [params]="beersParams"
      [paginationData]="getPaginationData()"></app-pagination>
  </div>
}
