<div class="card card-side my-4 bg-base-100 shadow-xl">
  <figure class="w-32">
    <img src="{{ opinion.imageUri }}" alt="beer image" />
  </figure>
  <div class="card-body grid grid-cols-2">
    <div class="text-start">
      <h2 class="card-title">{{ opinion.comment }}</h2>
      <a class="link-hover link link-primary">
        {{ opinion.username }}
      </a>
    </div>
    <div class="flex items-center justify-end">
      <div class="rating">
        <input class="mask mask-star-2 bg-green-500" />
        <input class="mask mask-star-2 bg-green-500" />
        <input class="mask mask-star-2 bg-green-500" />
        <input class="mask mask-star-2 bg-green-500" />
        <input class="mask mask-star-2 bg-green-500" />
      </div>
    </div>
  </div>
</div>
