<div class="card card-side my-4 bg-base-100 shadow-xl">
  <figure>
    <img src="{{ opinion.imageUri }}" alt="beer image" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">{{ opinion.comment }}</h2>
    <div class="rating">
      <p>Rate: {{ opinion.rating }}/10</p>
      <input class="mask mask-star-2 bg-green-500" />
      <input class="mask mask-star-2 bg-green-500" />
      <input class="mask mask-star-2 bg-green-500" />
      <input class="mask mask-star-2 bg-green-500" />
      <input class="mask mask-star-2 bg-green-500" />
    </div>
  </div>
</div>
