<h2 class="my-4 text-lg font-semibold">Recent opinions</h2>
@if (loading) {
  <app-loading-spinner></app-loading-spinner>
} @else if (error) {
  <div role="alert" class="alert alert-error">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 shrink-0 stroke-current"
      fill="none"
      viewBox="0 0 24 24">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span>{{ error }}</span>
  </div>
} @else {
  @if (opinions && opinions.TotalCount > 0) {
    <div class="my-4 rounded-lg bg-neutral p-6 text-neutral-content shadow-md">
      @for (opinion of opinions.items; track opinion.id) {
        <app-recent-opinion [opinion]="opinion"></app-recent-opinion>
      }
    </div>
  }
}
