<dialog #registerModal class="modal modal-middle">
  <div class="modal-box">
    <form method="dialog">
      <button
        class="btn btn-circle btn-ghost btn-sm absolute right-2 top-2"
        (click)="onFormReset()">
        ✕
      </button>
    </form>
    <h3 class="mb-2 text-2xl font-bold">Sign up to the HoppyHub</h3>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="flex flex-col items-center">
        <label class="form-control w-full max-w-xs">
          <div class="label">
            <span class="label-text">Email:</span>
          </div>
          <input
            type="text"
            id="register_email"
            formControlName="email"
            placeholder="Your email"
            class="input input-bordered input-primary w-full max-w-xs"
            [ngClass]="{
              'input-error':
                registerForm.get('email')!.invalid &&
                registerForm.get('email')!.touched
            }" />
          <div class="label flex flex-col text-center">
            @if (
              registerForm.get('email')!.errors &&
              registerForm.get('email')!.hasError('required') &&
              registerForm.get('email')!.touched
            ) {
              <span class="label-text-alt">Email is required</span>
            }
            @if (
              registerForm.get('email')!.errors &&
              registerForm.get('email')!.hasError('email') &&
              registerForm.get('email')!.touched
            ) {
              <span class="label-text-alt">Email is invalid</span>
            }
            @if (
              registerForm.get('email')!.errors &&
              registerForm.get('email')!.hasError('maxlength') &&
              registerForm.get('email')!.touched
            ) {
              <span class="label-text-alt"
                >An email can contain a maximum of 256 characters</span
              >
            }
          </div>
        </label>

        <label class="form-control w-full max-w-xs">
          <div class="label">
            <span class="label-text">Username:</span>
          </div>
          <input
            type="text"
            id="register_username"
            formControlName="username"
            placeholder="Your username"
            class="input input-bordered input-primary w-full max-w-xs"
            [ngClass]="{
              'input-error':
                registerForm.get('username')!.invalid &&
                registerForm.get('username')!.touched
            }" />
          <div class="label flex flex-col text-center">
            @if (
              registerForm.get('username')!.errors &&
              registerForm.get('username')!.hasError('required') &&
              registerForm.get('username')!.touched
            ) {
              <span class="label-text-alt">Username is required</span>
            }
            @if (
              registerForm.get('username')!.errors &&
              registerForm.get('username')!.hasError('maxlength') &&
              registerForm.get('username')!.touched
            ) {
              <span class="label-text-alt"
                >The username can contain a maximum of 256 characters</span
              >
            }
          </div>
        </label>

        <div formGroupName="passwords" class="w-full max-w-xs">
          <label class="form-control">
            <div class="label">
              <span class="label-text">Password:</span>
            </div>
            <input
              type="password"
              id="register_password"
              formControlName="password"
              placeholder="Your password"
              class="input input-bordered input-primary w-full max-w-xs"
              [ngClass]="{
                'input-error':
                  registerForm.get('passwords.password')!.invalid &&
                  registerForm.get('passwords.password')!.touched
              }" />
            <div class="label flex flex-col text-center">
              @if (
                registerForm.get('passwords.password')!.errors &&
                registerForm.get('passwords.password')!.hasError('required') &&
                registerForm.get('passwords.password')!.touched
              ) {
                <span class="label-text-alt">Password is required</span>
              }
              @if (
                registerForm.get('passwords.password')!.errors &&
                registerForm.get('passwords.password')!.hasError('minlength') &&
                registerForm.get('passwords.password')!.touched
              ) {
                <span class="label-text-alt"
                  >The password must have at least 8 characters</span
                >
              }
              @if (
                registerForm.get('passwords.password')!.errors &&
                registerForm.get('passwords.password')!.hasError('pattern') &&
                registerForm.get('passwords.password')!.touched
              ) {
                <span class="label-text-alt"
                  >The password must have at least one non alphanumeric
                  character, one digit and one uppercase</span
                >
              }
            </div>
          </label>

          <label class="form-control w-full max-w-xs">
            <div class="label">
              <span class="label-text">Confirm Password:</span>
            </div>
            <input
              type="password"
              id="register_confirm_password"
              formControlName="confirmPassword"
              placeholder="Confirm password"
              class="input input-bordered input-primary w-full max-w-xs"
              [ngClass]="{
                'input-error':
                  registerForm.get('passwords')!.errors &&
                  registerForm.get('passwords.confirmPassword')!.touched
              }" />
            <div class="label flex flex-col text-center">
              @if (
                registerForm.get('passwords')!.errors &&
                registerForm.get('passwords')!.hasError('passwordMismatch') &&
                registerForm.get('passwords.confirmPassword')!.touched
              ) {
                <span class="label-text-alt">Passwords doesn't match!</span>
              }
            </div>
          </label>
        </div>
      </div>

      <div class="mt-2 flex items-center justify-between">
        <button type="submit" class="btn" [disabled]="!registerForm.valid">
          Sign up
        </button>
        <div class="flex items-center">
          <p>You already have an account?</p>
          <button
            type="button"
            class="link link-primary ml-2"
            (click)="onSignIn()">
            Sign In
          </button>
        </div>
      </div>
    </form>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button (click)="onFormReset()">close</button>
  </form>
</dialog>
