<h2 class="mb-4 text-lg font-semibold">Monthly data ({{ monthName }})</h2>
@if (loading) {
  <app-loading-spinner></app-loading-spinner>
} @else if (error) {
  <app-error-message [message]="error"></app-error-message>
} @else {
  <div
    class="stats stats-vertical w-full bg-neutral text-neutral-content shadow">
    <div class="stat">
      <div class="stat-title text-xs sm:text-lg">Total beers rated</div>
      <div class="stat-value text-2xl text-success sm:text-5xl">
        {{ totalBeersRated }}
      </div>
    </div>
    <div class="stat">
      <div class="stat-title text-xs sm:text-lg">The most popular beer</div>
      <div class="stat-value text-primary">
        <a
          class="link-hover link text-wrap text-2xl sm:text-4xl lg:text-3xl"
          [routerLink]="['/beers', theMostPopularBeer?.id]">
          {{ theMostPopularBeer?.name }}
        </a>
      </div>
      <div class="stat-desc mt-2 text-success">
        <a
          class="link-hover link"
          [routerLink]="['/breweries', theMostPopularBeer?.brewery?.id]">
          {{ theMostPopularBeer?.brewery?.name }}
        </a>
      </div>
    </div>
    <div class="stat">
      <div class="stat-title text-xs sm:text-lg">The most active user</div>
      <div class="stat-value text-primary">
        <a class="link-hover link text-wrap text-2xl sm:text-4xl lg:text-3xl">
          {{ theMostActiveUser?.username }}
        </a>
      </div>
      @if (theMostActiveUser) {
        <div class="stat-desc mt-2 text-success">
          {{ theMostActiveUserBeersOpinionsCount }} beers rated
        </div>
      }
    </div>
  </div>
}
