<div class="dropdown dropdown-end form-control">
  <input
    tabindex="0"
    type="text"
    class="input input-bordered w-24 md:w-auto"
    [(ngModel)]="searchQuery"
    (input)="onSearch()"
    (focus)="openDropdown()"
    placeholder="Search" />
  @if (isDropdownOpen && results) {
    <div
      tabindex="0"
      class="menu dropdown-content absolute z-50 mt-14 w-64 rounded-box bg-base-200 p-4 shadow">
      @if (results.breweries.length !== 0 || results.beers.length !== 0) {
        <p class="text-md mb-2 font-bold">Beers:</p>
      }
      @if (results.beers.length > 0) {
        <ul class="menu mb-4 rounded-box bg-base-100">
          @for (beer of results.beers; track $index) {
            <a [routerLink]="['/beers', beer.id]" (click)="closeDropdown()">
              <li class="p-2 hover:bg-base-300">
                {{ beer.name }}
              </li>
            </a>
          }
        </ul>
      }
      @if (results.breweries.length !== 0 || results.beers.length !== 0) {
        <p class="text-md mb-2 font-bold">Breweries:</p>
      }
      @if (results.breweries.length > 0) {
        <ul class="menu rounded-box bg-base-100">
          @for (brewery of results.breweries; track $index) {
            <a
              [routerLink]="['/breweries', brewery.id]"
              (click)="closeDropdown()">
              <li class="p-2 hover:bg-base-300">{{ brewery.name }}</li>
            </a>
          }
        </ul>
      }
      @if (results.breweries.length === 0 && results.beers.length === 0) {
        <p class="text-md mb-2 font-bold">No results found</p>
      }
    </div>
  }
</div>
