<div class="navbar bg-neutral text-neutral-content">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <fa-icon [icon]="faBars"></fa-icon>
      </div>
      <ul
        tabindex="0"
        class="menu dropdown-content menu-sm z-[1] mt-3 w-52 rounded-box bg-base-100 p-2 shadow">
        @if (adminAccess) {
          <li>
            <a class="font-bold text-primary" routerLink="/admin-panel"
              >Admin Panel</a
            >
          </li>
        }
        <li><a routerLink="/beers">Search beers</a></li>
        <li><a routerLink="/breweries">Search breweries</a></li>
        <li><a routerLink="/beer-styles">Search beer styles</a></li>
        <li><a routerLink="/about">About</a></li>
      </ul>
    </div>
    <a routerLink="/">
      <div class="flex items-center">
        <img
          src="./../../assets/logo.png"
          alt="Logo"
          class="mr-2 hidden h-16 w-16 sm:flex" />
        <p class="btn btn-ghost text-xl">HoppyHub</p>
      </div>
    </a>
  </div>

  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      @if (adminAccess) {
        <li>
          <a class="font-bold text-primary" routerLink="/admin-panel"
            >Admin Panel</a
          >
        </li>
      }
      <li><a routerLink="/beers">Search beers</a></li>
      <li><a routerLink="/breweries">Search breweries</a></li>
      <li><a routerLink="/beer-styles">Search beer styles</a></li>
      <li><a routerLink="/about">About</a></li>
    </ul>
  </div>
  <div class="navbar-end gap-5">
    <app-search></app-search>
    <div class="dropdown dropdown-end">
      <div
        tabindex="0"
        role="button"
        class="avatar btn btn-circle btn-ghost shadow-md">
        <fa-icon [icon]="faUser"></fa-icon>
      </div>
      <ul
        tabindex="0"
        class="menu dropdown-content menu-sm z-[1] mt-3 w-52 rounded-box bg-base-100 p-2 shadow">
        @if (user) {
          <li><a [routerLink]="['/users', user.id]">Profile</a></li>
          <li><a routerLink="account-settings">Settings</a></li>
          <li><button (click)="onLogout()">Logout</button></li>
        } @else {
          <li><button (click)="openLoginModal()">Login</button></li>
          <li><button (click)="openRegisterModal()">Register</button></li>
        }
      </ul>
    </div>
  </div>
</div>
