<div class="md:text-md card my-4 bg-neutral text-xs shadow-xl lg:text-lg">
  <div class="card-body">
    @if (beer) {
      <div class="flex flex-row justify-evenly">
        <div class="avatar mr-2 w-1/4">
          <div class="mask mask-squircle h-24 w-24 md:h-32 md:w-32">
            <img src="{{ beer.imageUri }}" alt="Beer image" />
          </div>
        </div>
        <div class="w-1/2 text-center">
          <p class="text-2xl text-primary">{{ beer.name }}</p>
          <a
            class="text-md link-hover link link-accent my-2"
            [routerLink]="['/breweries', beer.brewery.id]"
            >{{ beer.brewery.name }}</a
          >
          <p class="my-1">
            <strong>Style:</strong
            ><a
              class="text-md link-hover link link-info"
              [routerLink]="['/beer-styles', beer.beerStyle.id]">
              {{ beer.beerStyle.name }}</a
            >
          </p>

          <!-- <p class="my-1"><strong>Style:</strong> {{ beer.beerStyle.name }}</p> -->
          <p>{{ beer.description }}</p>
        </div>
        <div class="w-1/4 text-right">
          <p class="my-1"><strong>ABV:</strong> {{ beer.alcoholByVolume }}%</p>
          <p class="my-1"><strong>BLG:</strong> {{ beer.blg }}</p>
          <p class="my-1"><strong>IBU:</strong> {{ beer.ibu }}</p>
          <a
            class="btn btn-outline btn-primary mt-4 w-3/4"
            [routerLink]="['/beers', beer.id]">
            Details
          </a>
        </div>
      </div>
    }
  </div>
</div>
