<div class="mb-2 mt-8 grid sm:grid-cols-2 sm:space-y-4">
  <div class="sm:flex sm:items-end sm:justify-center">
    <app-pagination
      [params]="opinionsParams"
      [paginationData]="paginationData"
      size="sm"></app-pagination>
  </div>

  <div class="mb-2 mt-4 sm:mb-auto sm:mt-auto">
    <div class="tooltip tooltip-top" data-tip="Sort by...">
      <select
        class="select select-bordered select-sm w-56"
        [(ngModel)]="selectedSortOptionIndex"
        (change)="onSort()">
        @for (option of sortOptions; track $index) {
          <option [value]="$index">
            {{ option.label }}
          </option>
        }
      </select>
    </div>
  </div>

  <div class="form-control">
    <label class="label flex cursor-pointer justify-center">
      <span class="label-text mx-2">Opinions with comments</span>
      <input
        type="checkbox"
        class="toggle toggle-primary mx-2"
        [checked]="onlyOpinionsWithComments"
        [(ngModel)]="onlyOpinionsWithComments"
        (change)="onShowOnlyOpinionsWithComments()" />
    </label>
  </div>

  <div class="form-control">
    <label class="label flex cursor-pointer justify-center">
      <span class="label-text mx-2">Opinions with images</span>
      <input
        type="checkbox"
        class="toggle toggle-primary mx-2"
        [checked]="onlyOpinionsWithImages"
        [(ngModel)]="onlyOpinionsWithImages"
        (change)="onShowOnlyOpinionsWithImages()" />
    </label>
  </div>
</div>
