<section class="grid grid-cols-1 gap-52 lg:grid-cols-3">
  <div class="rounded-lg bg-primary p-6 text-primary-content shadow-md">
    <h2 class="mb-4 text-lg font-semibold">Last beers</h2>
    <!-- <app-last-beers></app-last-beers> -->
  </div>
  <div class="rounded-lg bg-primary p-6 text-primary-content shadow-md">
    <h2 class="mb-4 text-lg font-semibold">Most popular breweries</h2>
    <!-- <app-most-popular-breweries></app-most-popular-breweries> -->
  </div>
  <div class="rounded-lg bg-primary p-6 text-primary-content shadow-md">
    <h2 class="mb-4 text-lg font-semibold">Last opinions</h2>
    <!-- <app-last-opinions></app-last-opinions> -->
  </div>
</section>
