<div class="mb-2 mt-8 grid md:grid-cols-3 md:space-y-4">
  <div class="md:flex md:items-end md:justify-center">
    <app-pagination
      [params]="opinionsParams"
      [paginationData]="paginationData"
      size="sm"></app-pagination>
  </div>

  <div class="mt-4 md:mt-auto">
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
      <div class="join">
        <input
          type="text"
          id="opinions_filters_search"
          formControlName="search"
          class="input input-sm join-item input-bordered w-40"
          placeholder="Search opinions..." />
        <button class="btn btn-primary join-item btn-sm rounded-r-full">
          Search
        </button>
      </div>
    </form>
  </div>

  <div class="mb-2 mt-4 md:mb-auto md:mt-auto">
    <div class="tooltip tooltip-top" data-tip="Sort by...">
      <select
        class="select select-bordered select-sm w-56"
        [(ngModel)]="selectedSortOptionIndex"
        (change)="onSort()">
        @for (option of sortOptions; track $index) {
          <option [value]="$index">
            {{ option.label }}
          </option>
        }
      </select>
    </div>
  </div>

  <div class="form-control">
    <div class="flex justify-center">
      <label class="label cursor-pointer">
        <span class="label-text mx-2">Opinions with comments</span>
        <input
          type="checkbox"
          class="toggle toggle-primary mx-2"
          [checked]="onlyOpinionsWithComments"
          [(ngModel)]="onlyOpinionsWithComments"
          (change)="onShowOnlyOpinionsWithComments()" />
      </label>
    </div>
  </div>

  <div class="form-control">
    <div class="flex justify-center">
      <label class="label cursor-pointer">
        <span class="label-text mx-2">Opinions with images</span>
        <input
          type="checkbox"
          class="toggle toggle-primary mx-2"
          [checked]="onlyOpinionsWithImages"
          [(ngModel)]="onlyOpinionsWithImages"
          (change)="onShowOnlyOpinionsWithImages()" />
      </label>
    </div>
  </div>

  <div class="tooltip tooltip-top" data-tip="Clear the filters">
    <button
      class="btn btn-outline btn-primary join-item btn-sm"
      (click)="onFiltersClear()">
      <fa-icon [icon]="faX"></fa-icon>
    </button>
  </div>
</div>
