<h2 class="mb-4 text-lg font-semibold">Beer Styles</h2>
<section class="grid grid-cols-1 gap-x-20 text-center xl:grid-cols-3">
  <div class="order-last my-4 xl:order-first xl:col-span-1">
    <app-beer-styles-table></app-beer-styles-table>
  </div>
  <div class="order-first my-4 xl:order-last xl:col-span-2">
    @if (!beerStyleSelected) {
      <div role="alert" class="alert bg-neutral">
        <fa-icon [icon]="faInfoCircle"></fa-icon>
        <span>Select beer style to see details.</span>
      </div>
    }
    <router-outlet></router-outlet>
  </div>
</section>
