<div class="my-4">
  <h2 class="mb-4 text-lg font-semibold">Monthly data</h2>
  <div class="stats bg-neutral text-neutral-content shadow">
    <div class="stat">
      <div class="stat-title">Total beers rated</div>
      <div class="stat-value text-primary">{{ totalBeersRated }}</div>
    </div>
    <div class="stat">
      <div class="stat-title">The most popular brewery</div>
      <div class="stat-value max-w-52 text-wrap text-secondary">
        {{ theMostPopularBrewery }}
      </div>
    </div>
    <div class="stat">
      <div class="stat-title">The most active user</div>
      <div class="stat-value text-primary">{{ theMostActiveUser }}</div>
      <div class="stat-desc mt-2 text-success">
        {{ theMostActiveUserBeers }} beers rated
      </div>
    </div>
  </div>
</div>
