<div class="my-4">
  <h2 class="mb-4 text-lg font-semibold">Monthly data ({{ monthName }})</h2>
  <div class="stats bg-neutral text-neutral-content shadow">
    <div class="stat">
      <div class="stat-title">Total beers rated</div>
      <div class="stat-value flex justify-center text-5xl text-success">
        {{ totalBeersRated }}
      </div>
    </div>
    <div class="stat">
      <div class="stat-title">The most popular beer</div>
      <div class="stat-value text-wrap text-primary">
        <a class="link-hover link"> {{ theMostPopularBeer?.name }} </a>
      </div>
      <div class="stat-desc mt-2 text-wrap text-success">
        <a class="link-hover link"> {{ theMostPopularBeer?.brewery?.name }} </a>
      </div>
    </div>
    <div class="stat">
      <div class="stat-title">The most active user</div>
      <div class="stat-value text-primary">{{ theMostActiveUser }}</div>
      <div class="stat-desc mt-2 text-success">
        {{ theMostActiveUserBeers }} beers rated
      </div>
    </div>
  </div>
</div>
