@if (showAlert) {
  <div
    role="alert"
    class="top-1/5 -translate-y-1/5 alert fixed left-1/2 z-50 grid w-2/3 -translate-x-1/2 transform grid-cols-3 gap-4 sm:w-auto"
    [ngClass]="alertClass">
    <div class="justify-self-start">
      <fa-icon size="xl" [icon]="icon"></fa-icon>
    </div>

    <span class="justify-self-center text-pretty text-xl font-bold">{{
      message
    }}</span>
    <button
      class="btn-xl btn btn-circle btn-ghost justify-self-end font-bold"
      (click)="onAlertClose()">
      <fa-icon size="xl" [icon]="faX"></fa-icon>
    </button>
  </div>
}
