<div
  class="md:text-md card my-4 bg-neutral bg-opacity-85 text-xs shadow-xl lg:text-lg">
  <div class="card-body">
    <div class="flex justify-between">
      @if (beer && showName) {
        <div class="flex flex-col text-start">
          <a
            class="link-hover link card-title link-primary text-wrap"
            [routerLink]="['/beers', beer.id]"
            >{{ beer.name }}</a
          >
          <a
            class="link-hover link link-accent my-2 text-start"
            [routerLink]="['/breweries', beer.brewery.id]"
            >{{ beer.brewery.name }}</a
          >
        </div>
      }
      <a
        class="link-hover link link-primary align-top"
        [routerLink]="['/users', opinion.createdBy]"
        >{{ opinion.username }}</a
      >
    </div>
    <p class="text-justify">{{ opinion.comment }}</p>
    <div class="mt-4 grid place-items-center gap-4 sm:grid-cols-2">
      <div>
        <div class="rating rating-sm">
          @for (star of getStars(opinion.rating); track $index) {
            <input
              class="mask mask-star-2 cursor-default bg-green-500"
              disabled />
          }
          @for (star of getEmptyStars(opinion.rating); track $index) {
            <input
              class="mask mask-star-2 cursor-default bg-gray-400"
              disabled />
          }
        </div>
      </div>
      <h2 class="">{{ opinion.created | date: 'short' }}</h2>
    </div>
    @if (opinion.imageUri) {
      <div class="flex justify-center">
        <figure class="mt-4 flex h-48 w-48 justify-center">
          <img src="{{ opinion.imageUri }}" alt="beer image" />
        </figure>
      </div>
    }
  </div>
</div>
