<div class="my-2">
  <button class="btn btn-outline btn-success w-9/12">Add Opinion [TODO]</button>
</div>
<div class="my-4" #opinionsSection>
  <button class="btn btn-outline btn-primary w-9/12" (click)="toggleOpinions()">
    @if (!showOpinions) {
      Show Opinions
    } @else {
      Hide Opinions
    }
  </button>
</div>
<div class="grid place-items-center sm:grid-cols-2">
  @if (showOpinions && opinions && opinions.items.length > 0) {
    <div class="my-2">
      <app-pagination
        [params]="opinionsParams"
        [paginationData]="paginationData"
        size="sm"></app-pagination>
    </div>
    <div class="tooltip tooltip-top my-2" data-tip="Sort by...">
      <select
        class="select select-bordered"
        [(ngModel)]="selectedSortOptionIndex"
        (change)="onSort()">
        @for (option of sortOptions; track $index) {
          <option [value]="$index">
            {{ option.label }}
          </option>
        }
      </select>
    </div>
  }
</div>

@if (showOpinions) {
  @for (opinion of opinions?.items; track opinion.id) {
    <app-opinion
      [beer]="beer"
      [opinion]="opinion"
      [showName]="false"></app-opinion>
  }

  @if (opinions && opinions.items.length > 0) {
    <div class="my-2">
      <app-pagination
        (scrollTo)="scrollToTop()"
        [params]="opinionsParams"
        [paginationData]="paginationData"
        size="sm"></app-pagination>
    </div>
    <div class="my-4">
      <button
        class="btn btn-outline btn-primary w-9/12"
        (click)="toggleOpinions()">
        Hide Opinions
      </button>
    </div>
  }
}
