@if (loading) {
  <app-loading-spinner></app-loading-spinner>
} @else if (error) {
  <app-error-message [message]="error"></app-error-message>
} @else {
  <div class="text-center">
    <p class="my-2 text-2xl font-bold">
      {{ user.username | uppercase }} Profile
    </p>
    <div class="stats my-2 bg-neutral shadow">
      <div class="stat">
        <div class="stat-title text-xl">Beers Rated</div>
        <div class="stat-value text-primary">
          {{ userBeersRatedCount }} <fa-icon [icon]="faBeerMugEmpty"></fa-icon>
        </div>
      </div>

      <div class="stat">
        <div class="stat-title text-xl">Favorites Count</div>
        <div class="stat-value text-secondary">
          {{ userFavoritesCount }} <fa-icon [icon]="faHeart"></fa-icon>
        </div>
      </div>

      <div class="stat">
        <div class="stat-title text-xl">???</div>
        <div class="stat-value text-secondary">
          ?? <fa-icon [icon]="faHeart"></fa-icon>
        </div>
      </div>
    </div>
  </div>
}
