<div
  class="mx-4 mb-4 flex flex-col items-center justify-between space-y-4 md:flex-row md:space-y-0 xl:flex-col xl:space-y-4 2xl:flex-row 2xl:space-y-0">
  <div class="join">
    <div class="tooltip tooltip-top" data-tip="Clear the filters">
      <button
        class="btn btn-outline btn-primary join-item btn-sm"
        (click)="onFiltersClear()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
  </div>

  <div>
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
      <div class="join">
        <input
          type="text"
          id="brewery_beers_filters_search"
          formControlName="search"
          class="input join-item input-bordered input-sm w-40"
          placeholder="Search brewery beers..." />
        <button class="btn btn-primary join-item btn-sm rounded-r-full">
          Search
        </button>
      </div>
    </form>
  </div>
</div>
