<app-upsert-opinion-modal
  (opinionUpserted)="refreshOpinions()"></app-upsert-opinion-modal>
<app-delete-opinion-modal
  (opinionDeleted)="refreshOpinions()"></app-delete-opinion-modal>
<div #topSection>
  @if (loading) {
    <app-loading-spinner></app-loading-spinner>
  } @else if (error) {
    <app-error-message [message]="error"></app-error-message>
  } @else {
    <app-user-opinions-filters
      [opinionsParams]="opinionsParams"
      [paginationData]="paginationData"></app-user-opinions-filters>

    @for (opinion of opinions; track $index) {
      <app-opinion
        [opinion]="opinion"
        [showUsername]="false"
        [editMode]="accountOwner"></app-opinion>
    }

    @if (opinions && opinions.length > 0) {
      <div class="my-2">
        <app-pagination
          [params]="opinionsParams"
          [paginationData]="paginationData"
          size="sm"
          (scrollTo)="scrollToTop()"></app-pagination>
      </div>
    }
  }
</div>
