<h2 class="mb-4 text-lg font-semibold">Admin Panel</h2>
<div class="my-2 grid gap-4 text-center text-lg md:grid-cols-2 lg:grid-cols-4">
  <a class="" routerLink="beer-management" routerLinkActive="text-primary"
    >Beers Management</a
  >
  <a class="" routerLink="opinion-management" routerLinkActive="text-primary"
    >Opinions Management</a
  >
  <a class="" routerLink="user-management" routerLinkActive="text-primary"
    >Users Management</a
  >
  <a class="" routerLink="favorite-management" routerLinkActive="text-primary"
    >Favorites Management</a
  >
</div>
<div class="divider"></div>
<router-outlet></router-outlet>
