<h2 class="mb-4 text-lg font-semibold">Admin Panel</h2>
<div
  class="my-2 grid gap-4 text-center text-lg sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6">
  <a routerLink="beer-management" routerLinkActive="text-primary"
    >Beers Management</a
  >
  <a routerLink="brewery-management" routerLinkActive="text-primary"
    >Breweries Management</a
  >
  <a routerLink="beer-style-management" routerLinkActive="text-primary"
    >Beer Styles Management</a
  >
  <a routerLink="opinion-management" routerLinkActive="text-primary"
    >Opinions Management</a
  >
  <a routerLink="user-management" routerLinkActive="text-primary"
    >Users Management</a
  >
  <a routerLink="favorite-management" routerLinkActive="text-primary"
    >Favorites Management</a
  >
</div>
<div class="divider"></div>
<router-outlet></router-outlet>
