@if (loading) {
  <app-loading-spinner></app-loading-spinner>
} @else if (error) {
  <app-error-message [message]="error"></app-error-message>
} @else {
  <div class="container mx-auto p-4">
    <div class="mb-6 rounded-lg bg-neutral p-6 shadow-md">
      <div class="mb-6 mt-2 flex flex-row justify-around">
        <div class="avatar mr-2 w-1/3">
          <div class="mask mask-squircle h-32 w-32">
            <img src="{{ beer.imageUri }}" alt="Beer image" />
          </div>
        </div>
        <div class="w-2/3 max-w-96">
          <h1 class="mb-2 text-xl font-bold sm:text-3xl">{{ beer.name }}</h1>
          <p class="mb-2">({{ beer.beerStyle.name }})</p>
          <p class="mb-4">{{ beer.description }}</p>
        </div>
      </div>

      <div
        class="my-4 grid grid-cols-2 gap-1 text-xs sm:grid-cols-3 sm:text-sm md:text-base">
        <div
          class="ml-6 break-words border-r-2 sm:ml-auto sm:border-l-2 md:w-5/6">
          <p class="my-1">
            <strong>Brewery: </strong>
            <a
              class="link-hover link link-accent my-2"
              [routerLink]="['/breweries', beer.brewery.id]"
              >{{ beer.brewery.name }}</a
            >
          </p>
          <p class="my-1">
            <strong>Release date:</strong> {{ beer.releaseDate }}
          </p>
        </div>
        <div class="text-wrap break-words sm:border-r-2">
          <p class="my-1">
            <strong>AVG Rating: </strong>
            <span
              [ngClass]="{
                'text-error': beer.rating > 0 && beer.rating < 5,
                'text-warning': beer.rating < 7.5,
                'text-success': beer.rating >= 7.5
              }"
              >{{ beer.rating }}/10</span
            >
          </p>
          <p class="my-1">
            <strong>Opinions Count:</strong> {{ beer.opinionsCount }}
          </p>
          <p class="my-1">
            <strong>Favorites Count:</strong> {{ beer.favoritesCount }}
          </p>
        </div>
        <div
          class="col-span-2 border-b-2 border-t-2 sm:col-auto sm:border-b-0 sm:border-r-2 sm:border-t-0">
          <p class="my-1"><strong>ABV:</strong> {{ beer.alcoholByVolume }}%</p>
          <p class="my-1"><strong>BLG:</strong> {{ beer.blg }}</p>
          <p class="my-1"><strong>IBU:</strong> {{ beer.ibu }}</p>
        </div>
      </div>

      <div class="my-4 flex flex-row justify-between">
        <p class="my-1"><strong>Composition:</strong> {{ beer.composition }}</p>
      </div>

      <div class="collapse collapse-arrow bg-base-200">
        <input type="checkbox" />
        <div class="collapse-title text-xl font-medium">Show Opinions</div>
        <div class="collapse-content">
          <app-beer-opinions [beer]="beer"></app-beer-opinions>
        </div>
      </div>
    </div>
  </div>
}
