<div class="mx-4 mb-4 grid sm:grid-cols-2">
  <div class="my-2">
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
      <div class="join">
        <input
          type="text"
          id="user_favorite_beers_filters_search"
          formControlName="search"
          class="input input-sm join-item input-bordered w-40"
          placeholder="Search..." />
        <button
          type="submit"
          class="btn btn-primary join-item btn-sm rounded-r-full">
          Search
        </button>
      </div>
    </form>
  </div>

  <div class="my-2">
    <div class="tooltip tooltip-top" data-tip="Sort by...">
      <select
        class="select select-bordered select-sm w-56"
        [(ngModel)]="selectedSortIndex"
        (change)="onSort()">
        @for (option of sortOptions; track $index) {
          <option [value]="$index">
            {{ option.label }}
          </option>
        }
      </select>
    </div>
  </div>

  <div class="my-2 mb-4 sm:col-span-2 sm:place-self-center">
    <app-pagination
      [params]="favoriteBeersParams"
      [paginationData]="paginationData"
      size="sm"></app-pagination>
  </div>
</div>
