<div
  class="mx-4 mb-4 flex flex-col items-center justify-between space-y-4 md:flex-row md:space-y-0 xl:flex-col xl:space-y-4 2xl:flex-row 2xl:space-y-0">
  <div class="join">
    <div class="tooltip tooltip-top" data-tip="Clear the filters">
      <button
        class="btn btn-outline btn-primary join-item btn-sm"
        (click)="onFiltersClear()">
        <fa-icon [icon]="faX"></fa-icon>
      </button>
    </div>
    <button
      class="btn btn-outline btn-primary join-item btn-sm w-40"
      (click)="onFiltersModalOpen()">
      Filters
    </button>
  </div>

  <div>
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
      <div class="join">
        <input
          type="text"
          id="beers_filters_search"
          formControlName="search"
          class="input input-sm join-item input-bordered w-40"
          placeholder="Search breweries..." />
        <button class="btn btn-primary join-item btn-sm rounded-r-full">
          Search
        </button>
      </div>
    </form>
  </div>

  <div>
    <app-pagination
      [params]="params"
      [paginationData]="paginationData"
      size="sm"></app-pagination>
  </div>
</div>
